<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kviz meni</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/logout}">Odjavite se</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
<br /><br />
<div class="container">
    <div class="row">
        <h1 class="text-center">Kviz meni</h1>
        <div th:if="${param.error}">
            <div class="alert alert-danger">Nedovoljan broj pitanja za početak kviza</div>
        </div>
        <a class="btn btn-primary btn-lg" th:href="@{/quizmenu/quiz/start}">Započni rešavanje kviza</a>
        <a class="btn btn-primary btn-lg" th:href="@{/quizmenu/quiz/top5}">Rang lista</a>
    </div>
</div>

</body>
</html>